@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 1170px;
  color: #2d3440;
  background-color: #feafc3;
}

.blue-theme {
  background-color: #69a9ff;
}

.yellow-theme {
  background-color: #fcc850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

/* Navigation */
.main-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-header-catalog {
  margin-bottom: 32px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0;
  margin: 0 auto;
}

.main-logo-image {
  padding: 0;
  margin: 0;
  margin-right: 16px;
  height: 56px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list-main {
  max-width: 400px;
  max-height: 36px;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list-catalog {
  width: 95px;
}

.navigation-list-delivery {
  width: 179px;
}

.navigation-list-company {
  width: 126px;
}

.sub-popover-new {
  width: ;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  max-height: 36px;
  max-width: 550px;
}

.navigation-phone {
  width: 158px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  text-decoration: none;
  color: #2d3440;
  line-height: 20px;
  text-align: center;
  padding: 8px 16px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 26px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2d3440;
  border-radius: 26px;
}

.navigation-link-search {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50% 50%;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
}

.navigation-link-search:hover + .popover-search,
.navigation-link-search:active + .popover-search,
.navigation-link-search:focus + .popover-search {
  display: block;
}

.navigation-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #2d3440;
}

.navigation-link-login {
  padding: 0;
  position: relative;
  display: block;
  text-decoration: none;
  color: #2d3440;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  padding: 6px 19px 6px 40px;
  min-width: 34px;
  min-height: 20px;
}

.navigation-link-login:hover + .popover-login,
.navigation-link-login:active + .popover-login,
.navigation-link-login:focus + .popover-login {
  display: block;
}

.navigation-icon-login {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #2d3440;
}

.navigation-link-login .navigation-icon-login {
  right: auto;
  left: 18px;
  margin: auto 0;
  z-index: 2;
  width: 15px;
  height: 15px;
}

.navigation-link-basket {
  background-color: rgba(252, 252, 252, 0.3);
  position: relative;
  padding: 0;
  border-radius: 26px;
  padding: 6px 16px 6px 40px;
  min-width: 41px;
  min-height: 20px;
}

.navigation-link-basket:hover + .popover-basket,
.navigation-link-basket:focus + .popover-basket,
.navigation-link-basket:hover + .popover-basket-catalog,
.navigation-link-basket:focus + .popover-basket-catalog {
  display: block;
}

.navigation-icon-basket {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  fill: #2d3440;
}

.navigation-link-basket .navigation-icon-basket {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-login {
  position: relative;
}

.main-number {
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
}

.navigation-login,
.navigation-search,
.navigation-basket {
  font-size: 14px;
  padding: 0;
  margin: 0 8px;
}

.navigation-basket {
  margin-right: 0px;
}

/* popover */
.popover {
  position: absolute;
  top: 40px;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fcfcfc;
}

/* catalog-popover */
.sub-popover-catalog {
  margin: 0;
  padding: 0;
  left: 0;
  width: 138px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.sub-popover-catalog .sub-popover {
  padding: 8px 16px;
  cursor: pointer;
}

.sub-popover:first-child {
  padding-top: 16px;
}

.sub-popover-catalog {
  display: none;
}

.navigation-link-current:hover + ul,
.navigation-link-current:focus + ul {
  display: block;
}

.ice-cream-kinds,
.ice-cream-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.ice-cream-title {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.sub-popover-new {
  position: relative;
}

.ice-cream-title::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: #b9b9b9;
  width: 106px;
  bottom: 0;
}

.sub-popover:hover {
  background-color: #ffcbd8;
}

.sub-popover:active {
  background-color: #ff7799;
}

/* Basket popover */
.popover-basket {
  right: 0;
  width: 288px;
  padding: 48px;
  display: none;
}

.popover-basket-title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

/* Basket-catalog-popover */
.popover-basket-catalog {
  display: flex;
  flex-direction: column;
  right: 0;
  width: 441px;
  padding: 48px;
  display: none;
}

.popover-title-catalog {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-bottom: 32px;
}

.popover-products {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popover-products .popover-product-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.popover-products .popover-product-list:not(:last-child) {
  margin-bottom: 24px;
}

.popover-products + .popover-catalog-footer {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #e7e7e7;
}

.popover-product-img {
  border-radius: 50%;
  margin-right: 16px;
}

.popover-item-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.popover-close-button,
.popover-close-busket {
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border: none;
  background-image: url("../images/icon/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
}

.popover-item-name,
.popover-item-price,
.popover-item-total {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #2d3440;
}

.popover-item-multiple {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #b9b9b9;
}

.popover-catalog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popover-catalog-footer .button-catalog-popover {
  width: max-content;
  height: max-content;
}

/* Login popover */
.popover-login {
  padding: 48px;
  right: 0;
  display: flex;
  flex-direction: column;
  display: none;
}

/*search popover */
.popover-search {
  padding: 24px 16px;
  right: 0;
  width: 356px;
  display: none;
}

.popover-email,
.popover-password,
.popover-search-line {
  margin: 0;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 356px;
  height: 18px;
}

.popover-search-line {
  width: 289px;
}

.popover-close-button {
  position: absolute;
  padding: 0;
  top: 40px;
  right: 29px;
  opacity: 0;
}

.popover-close-button:hover,
.popover-close-busket:hover {
  opacity: 100%;
}

.popover-close-button:focus,
.popover-close-busket:focus {
  opacity: 40%;
}

.popover-email {
  margin-bottom: 16px;
  width: 291px;
}

.popover-password {
  margin-bottom: 32px;
  width: 291px;
}

.popover-login-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 32px;
}

.popover-button-container {
  position: relative;
  display: grid;
  grid-template-columns: 113px 1fr;
  grid-template-areas:
    "button password"
    "button registration";
  gap: 4px 23px;
  align-items: center;
  justify-content: start;
}

.popover-button-container .button-popover {
  width: 113px;
  grid-area: button;
}

.popover-button-link {
  margin-right: auto;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
}

/* slider */
.swiper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 81px;
}

.swiper-wrapper {
  display: flex;
  margin-bottom: 4px;
}

.swiper-slider {
  display: flex;
  flex-direction: column;
  padding: 136px 0 0 70px;
  margin-right: 21px;
}

.ice-cream-name {
  width: 470px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: #2d3440;
  margin-bottom: 24px;
  min-height: 93px;
}

.ice-cream-description {
  width: 414px;
  min-height: 72px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #2d3440;
  margin-bottom: 47px;
}

.ice-cream-container {
  padding-top: 121px;
  margin-right: 56px;
  margin-bottom: 93px;
}

.background-swiper-1 {
  position: relative;
  background-color: #ffcbd8;
  width: 312px;
  height: 312px;
  border-radius: 50%;
}

.slider-button {
  position: absolute;
  top: 137px;
  left: -19px;
  width: 38px;
  height: 38px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px rgba(252, 252, 252, 1);
  border-radius: 30px;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 13px 16px;
}

.slider-next {
  transform: rotate(180deg);
  left: 293px;
}

.slider-button:hover,
.slider-button:hover svg path {
  background-color: rgba(252, 252, 252, 1);
  fill: #2d3440;
}

.slider-button:focus,
.slider-button:focus svg path {
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2d3440;
  box-shadow: inset 0px 0px 0px 2px #2d3440;
}

.slider-button:active,
.slider-button:active svg path {
  background-color: rgba(252, 252, 252, 0.3);
  fill: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0px 0px 0px 2px rgba(252, 252, 252, 0.5);
}

.ice-cream,
.ice-cream-next {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.ice-cream-next {
  opacity: 0.4;
  top: -25px;
  left: 9px;
  margin: 0;
  padding: 0;
}

.ice-cream-caramel {
  left: 5px;
}

.ice-cream-container-2,
.ice-cream-container-3 {
  padding-top: 229px;
}

.ice-cream-container-2 {
  margin-right: 41px;
}

.background-swiper-2,
.background-swiper-3 {
  position: relative;
  background-color: rgba(255, 203, 216, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.swiper-footer {
  display: flex;
  justify-content: space-between;
}

.pagination-item {
  width: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-button {
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50% 50%;
}

.pagination-button:hover {
  box-shadow: inset 0 0 0 1px rgba(252, 252, 252, 1);
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-button:active {
  background-color: rgba(252, 252, 252, 1);
}

.pagination-button:focus {
  box-shadow: inset 0 0 0 1px #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-current-page-1 {
  background-color: #fcfcfc;
}
.pagination-current-page-2,
.pagination-current-page-3 {
  background-color: rgba(252, 252, 252, 0.3);
}

.gallery-footer.social-media-slider {
  margin: 0;
  fill: white;
}

.social-button {
  display: block;
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 0px 2px rgba(252, 252, 252, 0.2);
  border-radius: 50% 50%;
}

.social-button:hover {
  background-color: #2d3440;
}

.social-button:focus {
  background-color: #2d3440;
  box-shadow: 0px 0px 0px 2px #2d3440;
}

/* Buttons */
.button {
  display: inline-block;
  font-family: "inter";
  width: 139px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  color: #2d3440;
  background-color: #fcfcfc;
  padding: 12px 32px;
}

.button:hover {
  box-shadow: 0px 0px 0px 4px rgba(252, 252, 252, 1);
  background-color: rgba(252, 252, 252, 0.4);
}

.button:focus {
  box-shadow: 0px 0px 0px 2px #2d3440;
  background-color: rgba(252, 252, 252, 1);
}

.button:disabled {
  box-shadow: 0px 0px 0px 4px rgba(252, 252, 252, 0.4);
  background-color: #e7e7e7;
  color: #b9b9b9;
}

.button-pink {
  width: 152px;
  height: 44px;
  box-shadow: 0px 0px 0px 4px rgba(255, 47, 100, 0.3);
  color: #fcfcfc;
  background-color: #ff2f64;
}

.button-pink:hover {
  box-shadow: 0px 0px 0px 4px rgba(255, 47, 100, 1);
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
}

.button-pink:focus {
  box-shadow: 0px 0px 0px 4px #2d3440;
  background-color: #ff2f64;
  color: #fcfcfc;
}

.button-pink:disabled {
  box-shadow: 0px 0px 0px 4px rgba(185, 185, 185, 0.3);
  background-color: #b9b9b9;
  color: #565c66;
}

/* icecream and presents */
.special-offer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 81px;
}

.offer-container {
  color: #2d3440;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer-title {
  margin: 0;
  margin: 0 auto;
  width: 443px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: #2d3440;
  margin-bottom: 55px;
}

.raspberry-jam-item,
.marsh-mallow-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 490px;
  border-radius: 16px;
  padding: 40px;
}

.raspberry-jam-item {
  background-image: url("../images/gift/gift-1.png");
  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: bottom;
}

.marsh-mallow-item {
  background-image: url("../images/gift/gift-2.png");
  background-color: #ff7799;
}

.ice-cream-gift {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.offer-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  list-style-type: none;
  margin-top: 1px;
  margin-bottom: 15px;
  max-width: 256px;
}

.offer-description {
  max-width: 321px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.marsh-mallow-item .offer-description {
  max-width: 294px;
}

.offer-button {
  align-self: flex-start;
  width: 176px;
  z-index: 2;
}

/* Product */
.product {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.product-catalog-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.product-title {
  width: 580px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: #2d3440;
  margin: 0;
  align-self: center;
  margin-bottom: 106px;
}

.product-description-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 190px;
}

.product-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.product-item {
  list-style-type: none;
  margin-right: 30px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-list-catalog:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.product-background {
  min-width: 190px;
  background-color: #fcfcfc;
  position: relative;
  border-radius: 8px;
  padding: 133px 40px 24px 40px;
}

.product-list-catalog {
  margin-bottom: 91px;
}

.product-name {
  text-decoration: none;
  color: #2d3440;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.product-description {
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.price-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
  background-color: #ffffff;
  display: block;
}

.add-basket {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50% 50%;
  text-align: center;
}

.add-basket:hover,
.add-basket:hover svg path {
  fill: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0px 0px 0px 2px rgba(255, 47, 100, 1);
}

.add-basket:focus,
.add-basket:focus svg path {
  fill: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: inset 0px 0px 0px 2px #2d3440;
}

.add-basket:disabled,
.add-basket:disabled svg path {
  background-color: #b9b9b9;
  fill: #565c66;
}

.product-icon-basket {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #fcfcfc;
}

.product-img {
  border-radius: 50%;
  position: absolute;
  top: -51px;
  left: 52px;
}

/* Advanteges */
.about-shop {
  background: url("../images/background/waffle-background.jpg") no-repeat;
  background-size: cover;
  background-color: #fcfcfc;
  border-radius: 16px;
  margin: 0;
  border-radius: 16px;
  margin-bottom: 79px;
  padding: 24px;
}

.about-shop-background {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 56px 40px;
}

.about-shop-title {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 56px;
  margin-top: 1px;
}

.shop-advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 30px;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}

.shop-advantages-item {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.shop-advantages-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.shop-advantages {
  margin: 0;
  padding: 0;
}

/* blog and subscribe form */
.newsletter {
  display: flex;
  margin-bottom: 76px;
  justify-content: space-between;
  padding-top: 1px;
}

.newsletter-blog {
  display: flex;
  background: url("../images/background/blog-background.jpg");
  background-size: cover;
  background-color: #fcfcfc;
  border-radius: 16px;
  width: 538px;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.newsletter-blog-container {
  display: flex;
  flex-direction: column;
  max-width: 303px;
}

.newsletter-background-post {
  background-image: url("../images/background/mail-background.jpg");
  background-color: #fcfcfc;
  background-size: cover;
  width: 570px;
  border-radius: 16px;
}

.newsletter-background {
  background-color: #fcfcfc;
  width: 558px;
  border-radius: 16px;
  margin: 6px;
}

.newsletter-form {
  padding: 26px 24px 26px 26px;
}

.newsletter-blog-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 14px;
}

.newsletter-blog-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #2d3440;
}

.newsletter-container {
  display: flex;
  align-items: center;
  height: 48px;
}

.blog-link-container {
  width: 303px;
  height: 92px;
}

.newsletter-text {
  display: block;
  text-align: left;
  margin-bottom: 42px;
}

.newsletter-email {
  margin: 0;
  margin-right: 24px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 300px;
}

.point-form:hover {
  border-color: #2d3440;
  color: #2d3440;
}

.point-form:focus {
  outline: 1px solid #2d3440;
  border-color: #2d3440;
}

.point-form:not(:placeholder-shown):invalid {
  outline: 1px solid #ea5454;
  border-color: #ea5454;
}

.point-form:not(:placeholder-shown):invalid {
  border-color: #ea5454;
}

.point-form:disabled {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
}

/* Delivery */
.delivery {
  display: flex;
  background-image: url("../images/background/delivery-background.jpg");
  background-size: cover;
  background-color: #fcfcfc;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.delivery-box {
  display: flex;
  flex-direction: column;
  max-width: 371px;
  margin-top: 104px;
}

.delivery-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.delivery-description {
  margin: 0;
  width: 371px;
}

/* delivery form  */
.delivery-container {
  max-width: 500px;
  margin-left: auto;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fcfcfc;
  border-radius: 6px;
  padding: 40px;
  padding-bottom: 42px;
}

.delivery-form-container {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-gap: 20px 16px;
  margin-bottom: 32px;
}

.delivery-form-title {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-date-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.delivery-date,
.delivery-phone,
.delivery-address {
  font-family: "inter";
  padding: 13px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.delivery-phone-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-address-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 420px;
}

.delivery-title {
  text-align: left;
}

.delivery-label {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.delivery-text {
  line-height: 20px;
  font-weight: 700;
}

.button-delivery {
  align-self: center;
}

/* tooltip */
.form-lable {
  margin-bottom: 8px;
  line-height: 20px;
}

.tooltip {
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  background-color: #fcfcfc;
  color: #565c66;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  padding: 10px 8px;
  display: block;
  width: 41px;
  position: absolute;
  margin-bottom: 0px;
  top: -12px;
  left: 20px;
  z-index: 1;
  display: none;
}

.tooltip-address-text {
  background-color: #fcfcfc;
  color: #565c66;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  padding: 10px 8px;
  display: block;
  width: 146px;
  position: absolute;
  margin-bottom: 0px;
  top: -12px;
  left: 20px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:hover + .tooltip-address-text,
.tooltip-toggle:focus + .tooltip-address-text {
  display: block;
}

/* Address and contacts */
.contacts {
  background-image: url("../images/background/address-background.jpg");
  background-size: cover;
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 64px;
  padding-right: 763px;
}

.contacts-background {
  background-color: #fcfcfc;
  padding: 40px;
  border-radius: 8px;
}

.contacts-title,
.contacts-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.contacts-title {
  margin-bottom: 12px;
}

address {
  font-style: normal;
}

.contacts-phone,
.contacts-address-text {
  margin: 0;
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3440;
}

.contacts-address-text {
  margin-bottom: 24px;
}

.contacts-subtitle {
  margin-bottom: 12px;
}

.work-time {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}

.button-form {
  width: 250px;
  padding: 0;
  height: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* Footer */
.footer {
  padding: 48px 14px 48px 4px;
}

.footer-catalog {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer-container {
  display: flex;
}

.gallery-footer {
  margin-right: 323px;
}

.social-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 104px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.different-info {
  position: relative;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 126px 1fr;
  grid-gap: 8px 24px;
}

.about-us-supplier {
  width: 16px;
  height: 16px;
  position: absolute;
  left: -24px;
  top: 2px;
}

.about-us-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.about-for-delivers {
  font-weight: 700;
}

.about-us-point {
  text-decoration: none;
  color: #2d3440;
}

.brand {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.brand-name {
  margin-bottom: 9px;
}

.brand-sign {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.academy-decoration {
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* Modal window */
.modal {
  position: relative;
  margin: auto;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.modal-auth {
  padding: 64px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../images/icon/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 3;
}

.modal-form {
  margin: 0;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 408px;
}

.textarea {
  height: 149px;
  padding: 0;
}

.button-modal {
  margin-left: 292px;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.modal-conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.modal-conteiner input {
  margin-bottom: 16px;
}

.modal-container-close {
  display: none;
}

textarea {
  width: 442px;
  height: 121px;
  resize: none;
}

/* CATALOG */
/* bread crumds catalog */
.main-inner {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;
}

.catalog-name {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: left;
  color: #2d3440;
  order: 2;
}

.bunch-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 16px;
}

.catalog-item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  margin-right: 29px;
  border-bottom: 1px solid #2d3440;
}

.catalog-item:not(:nth-last-child(1))::after {
  position: absolute;
  top: 7px;
  right: -18px;
  width: 7px;
  height: 6px;
  background-image: url("../images/icon/chevrons-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.catalog-item:nth-last-child(1) {
  margin-right: 0;
  border-bottom: none;
}

.index-link,
.catalog-link {
  text-decoration: none;
  color: #2d3440;
}

/* sorting */
.catalog {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 99px;
}

.catalog-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 807px;
}

.filter-container-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.sorting-container {
  display: flex;
  margin-right: 24px;
}

.select {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Control */
.select-control {
  width: 196px;
  height: 36px;
  padding: 8px 16px;
  font: inherit;
  font-weight: 400;
  border: none;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/icon/slider-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #fcfcfc;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-name {
  margin-bottom: 8px;
  margin-left: 16px;
}

.filter-name-fill {
  margin-left: 14px;
}

.filter-fat,
.filter-name-fill {
  margin-bottom: 8px;
}

.filter-fat {
  margin-left: 14px;
}

/* Range */
.range-container {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  padding: 17px 16px;
  margin-right: 24px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
  width: 164px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ffffff;
  box-shadow: inset 0 0 0 6px #2d3440;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  background-color: #2d3440;
  box-shadow: inset 0 0 0 6px #fcfcfc;
}

.range-toggle:active {
  background-color: #2d3440;
}

.range-toggle:focus {
  background-color: #2d3440;
  box-shadow: inset 0 0 0 6px #fcfcfc;
  outline: 2px solid #2d3440;
}

.toggle-min {
  top: -7px;
  left: -16px;
}

.toggle-max {
  top: -7px;
  right: -16px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: start;
  width: 135px;
  margin-bottom: 8px;
}

.catalog-filter-label:not(:last-child) {
  display: flex;
  margin-right: 3px;
}

.range-input {
  width: 30px;
  margin-right: 3px;
  padding: 0px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-sort {
  width: 196px;
  height: 64px;
}

.catalog-filter-fat {
  width: 367px;
  height: 64px;
}

.fat-radio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  width: 367px;
  min-height: 36px;
  border-radius: 26px;
}

/* Radio */
.control-radio {
  position: relative;
}

.control-mark-radio {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.control-mark-radio:hover,
.control-input:focus + .control-mark-radio {
  border: 2px solid #fcfcfc;
}

.control-input:disabled + .control-mark-radio {
  border: 2px solid rgba(45, 52, 64, 0.4);
}

.control-lable {
  margin-left: 25px;
}

.fat-radio-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control-input:checked + .control-mark-radio::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #2d3440;
  border-radius: 50%;
  content: "";
}

.control-input:hover + .control-mark-radio::before,
.control-input:focus + .control-mark-radio::before {
  background-color: #fcfcfc;
}

.control-input:disabled + .control-mark-radio::before {
  background-color: rgba(45, 52, 64, 0.4);
}

.filter-container-2 {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-topping {
  width: 596px;
  height: 64px;
  margin-right: 24px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  width: 596px;
  min-height: 36px;
  border-radius: 26px;
}

.catalog-filter-item {
  margin-left: 15px;
}

.catalog-filter-item:nth-child(2) {
  margin-left: 16px;
}

.catalog-filter-item:nth-child(3) {
  margin-left: 24px;
}

.catalog-filter-item:nth-child(4) {
  margin-left: 16px;
}

.fat-radio-list .catalog-filter-item:nth-child(3) {
  margin-left: 16px;
}

/* Control */
.control {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/check-off.svg");
}

.control-mark:hover,
.control-input:focus + .control-mark {
  background-image: url("../images/icon/check-off-white.svg");
}

.control-mark:disabled + .control-mark {
  background-image: url("../images/icon/check-off.svg");
  opacity: 0.4;
}

.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/check-on.svg");
  content: "";
}

.control-input[type="checkbox"]:checked:hover + .control-mark,
.control-input[type="checkbox"]:checked:focus + .control-mark {
  background-image: url("../images/icon/check-on-white.svg");
}

.control-input[type="checkbox"]:checked:disabled + .control-mark {
  background-image: url("../images/icon/check-on.svg");
  opacity: 0.4;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  width: 187px;
  height: 36px;
  padding: 8px 53px;
  box-shadow: 0 0 0 2px #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  margin-top: 28px;
}

.catalog-button:hover {
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  background-color: #fcfcfc;
}

.catalog-button:focus {
  box-shadow: 0 0 0 2px #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.catalog-button:disabled {
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  background-color: #ffcbd8;
  opacity: 0.4;
}

.navigation-link-current {
  color: #fcfcfc;
  background-color: #ff4a78;
  border-radius: 26px;
}

.navigation-link-current:hover {
  background-color: #fcfcfc;
  color: #2d3440;
}

.navigation-link-current:active {
  background-color: #fcfcfc;
  color: #2d3440;
}

.navigation-link-current:focus {
  background-color: #fcfcfc;
  color: #2d3440;
}

/* pagination catalog */
.page-search {
  position: relative;
  display: flex;
  padding: 40px 0;
  margin-bottom: 40px;
  align-items: center;
}

.button-show-more {
  width: 179px;
  margin-left: 495px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-left: auto;
  align-items: center;
}

.pagination-item-catalog {
  line-height: 20px;
  position: relative;
}

.pagination-item-catalog:last-child {
  margin-right: 0;
}

.pagination-item-catalog:nth-last-child(2) {
  margin-right: 17px;
}

.pagination-item-catalog:nth-child(n + 3):nth-child(-n + 5) {
  margin-right: 3px;
}

.pagination-item-current {
  line-height: 20px;
}

.pagination-catalog-current {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  background-color: #fcfcfc;
  border-radius: 50%;
  text-decoration: none;
  color: #2d3440;
}

.pagination-catalog-pages {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  border-radius: 50%;
  text-decoration: none;
  color: #2d3440;
}

.pagination-prev {
  margin: 0;
  padding: 0;
  min-height: 16px;
  margin-right: 23px;
}

.pagination-next {
  margin: 0;
  padding: 0;
  min-width: 16px;
  min-height: 16px;
  background-image: url("../images/icon/slider-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.pagination-link {
  text-decoration: none;
  line-height: 20px;
  margin: 0;
  color: #2d3440;
}
